<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Exmplo Básico de HTML5</title>
    <link href="../css/estilo1.css" rel="stylesheet" type="text/css">
</head>
<body>

    
<header></header>

    
<nav></nav>
    
<section id="section" name="section">
        
    <div>  <h1 class="alo"> A reciclagem e o meio ambiente</h1>

<h4>
    <img src="../images/reciclagem.jpg" class="img">
    <br>
    <br>
    <br>
    <br>
    <p>
    <p> <h2>O que é a reciclagem?</h2>
<h4>
A reciclagem é o resultado de um conjunto de técnicas e atividades 

que tem o objetivo de reaproveitar e reutilizar os resíduos de substâncias em 

seus ciclos de produção. Hoje, já se encontram várias alternativas de 

reaproveitamento destes materiais em confecções de produtos artesanais, 

vestuário, acessórios, etc, dos lixões.

Qual a importância da reciclagem?

Cada vez mais se faz necessário o 

cuidado e a atenção com o meio ambiente. O desequilíbrio provocado pela 

devastação de recursos naturais está colocando em risco, não só espécies 

animais e vegetais, mas a sobrevivência do próprio homem no planeta. Uma 

das formas de revertermos esta situação é o reaproveitamento de materiais 

recicláveis, evitando uma maior extração de recursos e diminuindo o acúmulo 

    de lixo nas áreas urbanas.</h4>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Quais as vantagens da reciclagem?</h1>
  <h4>
✓ Redução dos impactos ambientais durante a produção de novas matérias 

primas;<br>

✓ Redução no consumo de energia elétrica;<br>

✓ Redução da poluição do ambiental;<br>

✓ Ampliação do desenvolvimento econômico pela geração de novos empregos 

na operacionalização dos materiais recicláveis e na expansão dos negócios 

relativos à reciclagem.<br>
    <br>
      <br>
    <br>
      <br>
      <img src="../images/exemplo_reciclagem.jpg" class="drop">
      
      <br>
      <br>
      <br>
          <p>
    Uma das principais preocupações dos centros urbanos é a quantidade do lixo 

produzido pela população. Esta questão representa um dos maiores desafios a 

ser enfrentado pelas administrações públicas, pois além dos problemas 

relacionados aos catadores dos lixões, à falta de espaço para disposição dos 

resíduos, deve também ser levada em conta a preservação do meio ambiente.

A atitude de reciclar, além de diminuir a quantidade de lixo a ser tratada e 

eliminada, contribui significativamente para a redução da extração de matérias-

primas necessárias à produção de novos bens de consumo. Afinal, adotar a 

educação ambiental, colocando os resíduos recicláveis nos locais devidos, não
nos custa nada e ainda promove uma melhor qualidade de vida para toda a 

              população.</p>

Ter uma vida mais saudável depende tanto de uma política pública de serviços 

ambientalmente adequados de limpeza urbana quanto da atitude da população. 

Poderemos verificar uma notável diferença nos resultados finais deste 

investimento, partindo da prática da teoria dos 3 R’s, que significam: Redução, 

do uso de matéria-prima e energia e do desperdício nas fontes geradoras, 

Reutilização dos materiais e a Reciclagem.

Esta técnica de separação dentro da metodologia 

dos 3 R’s, se torna cada vez mais eficiente e imprescindível para um modo de 

vida mais saudável e responsável. Pois, além da preservação dos recursos 

naturais do meio ambiente, a reciclagem se torna socialmente importante, 

desde o momento e que gera emprego e renda para catadores de rua e dos 

lixões.
</h4>

    
        
        
        <h3>Qual é o tempo que estes materiais levam para se decompor?</h3>
         <table style="width:100%">
<tr>
    <td>Material</td>	<td>Tempo de decomposição</td></tr>
       <tr> <td>Papel </td> <td>De 03 a 06 meses</td></tr>
             <tr>    <td>Pano</td> <td>De 06 meses a 01 ano</td></tr>
             <tr>    <td>Filtro</td> <td> De cigarro	05 anos</td></tr>
             <tr>    <td>Goma De mascar</td> <td>05 anos</td></tr>
             <tr>    <td>Madeira pintada </td> <td>	13 anos</td></tr>
             <tr>    <td>Nylon	</td> <td> Mais de 30 anos</td></tr>
             <tr>    <td>Plástico</td> <td>Mais de 100 anos</td></tr>
             <tr>    <td>Metal</td> <td>	Mais de 100 anos</td></tr>
             <tr>    <td>Borracha</td> <td>	Tempo indeterminado</td></tr>
             <tr>    <td>Vidro</td> <td>	Indeterminado</td></tr>
             <tr>    <td>Lata de Aço</td> <td>	50 anos</td></tr>
             <tr>    <td>Garrafa plástica</td> <td>450 anos</td></tr>
             <tr>    <td>Copo plástico</td> <td>	50 anos</td></tr>
             <tr>    <td>Lixo radioativo</td> <td>	250.000 anos</td></tr>
             <tr>    <td>Caixa de papelão</td> <td>	02 meses</td></tr>
             <tr>    <td>Lata de alumínio</td> <td>	200 anos</td></tr>
             <tr>    <td>Linha de nylon</td> <td>	650 anos</td></tr>
             <tr>    <td>Bóia de isopor</td> <td>	80 anos</td></tr>
        </tr>
        
        </table>
        
    </div>
    
    
    
    
    
        <h2>  Todas as variações destes materiais podem ser recicladas?</h2>
    

<h4> Não. Para cada tipo de material existem algumas exceções. Confira abaixo o 

que realmente pode e o que não pode ser reciclado referente a cada tipo de 

    material.</h4>
    

    <h2>METAL</h2>

<h4>Metais que podem ser reciclados: Lata de bebidas e alimentos; 

Tampas de recipientes de vidro; Lata de biscoito; Bandeja e panela; Ferragem; 

Grampo; Fios elétricos; Chapas; Embalagem marmitex; Alumínio; Cobre; Aço; 

Lata de produtos de limpeza.

Metais que NÃO podem ser reciclados: Lata de aerosóis; Lata de tinta; Pilhas; 

Lata de inseticida; Lata de pesticida.</h4>

 

    <h2>PAPEL</h2>

<h4>Papéis que podem ser reciclados: Jornal; Papel de computador; 

Saco de papel; Papel de escritório; Cadernos.

Papéis que NÃO podem ser reciclados: Papel engordurado; Carbono; 

    Celofane; Papel plastificado; Papel parafinado (fax).</h4>

    
    
    
    <h2>PLÁSTICO</h2>

<h4>Plásticos que podem ser reciclados: Embalagem de alimentos; 

Embalagem de produtos de beleza; Embalagem de produtos de limpeza; 

Tampas; Brinquedos; Peças plásticas; Canetas esferográficas; Escovas de 

dentes; Baldes; Artigos de cozinha.

Plásticos que NÃO podem ser reciclados: Celofane; Embalagem a vácuo; 

    Fraldas descartáveis; Adesivos; Embalagem engordurada; Siliconizados.</h4>

    
    <h2>VIDRO</h2>

<h4>Vidros que podem ser reciclados: Copo; Frasco de remédio; Jarras; 

Garrafa; Vidro colorido.

Vidros que NÃO podem ser reciclados: Vidro de automóvel; Vidros de janelas; 

Pirex; Espelho; Tubo de TV; Lâmpada; Óculos; Cristal; Ampolas de 

medicamentos; Vidros temperados planos ou de utensílios domésticos.
    
    
    </h4>
    
    
    <img src="../images/separacao.jpg" class="sep">
    
</section>
    
<aside id="aside">
    
        <form >
    <label for="inputEmail3" >Email</label>
    <input type="email"  id="inputEmail3" placeholder="Email">
 
      
    <label for="inputPassword3" >Senha</label>
    <input type="password"  id="inputPassword3" placeholder="Password">
 
  
 
    </form>
    
  
      <button type="submit">Entrar</button>
   

        
</aside>
    
<article id="article">
    
    
    <label>Selecione sua necessidade</label>
    <select class="form-control">
  <option>Catador</option>
  <option>Reciclador</option>
</select>    
    <button type="submit" class="butao" >Entrar</button>
    
   
    
    
    </article>
    
</body>
</html>